{% extends "base.html" %}
{% block title %} Register Item {% endblock %}
{% block content %}
<h1>Register an Item</h1>
<form action="/manual_scan" method="post">
		<h5>Enter barcode manually or scan</h5>
		<div class="form-group">
            <input class="form-control" type="text" name="item_name" placeholder="Item Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="item_barcode" placeholder="Barcode">
        </div>
        <h5>Please select the type of input</h5>
        <input type="radio" name="table" value="item"> Item
        <input type="radio" name="table" value="shelve"> Shelve<br>
        <input type="hidden" name="type" value={{ type }}>
		<div class="form-group">
			<button class="btn btn-primary">Register Manually</button>
            </div>
		</form>
<form action="/auto_scan" method="post">
    <div class="form-group">
            <input type="hidden" name="type" value={{ type }}>
			<button class="btn btn-primary">Scan</button>
            </div>
</form>
<h3>{{ message }}</h3>

{% endblock %}